.navbar {
	background-color: rgba(0, 0, 0, 0.8);
	height: 80px;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	max-width: 1500px;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-align: center;
	width: 60vw;
	margin-right: 2rem;
}

.nav-item {
	height: 80px;
}

.nav-links {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
}

.nav-links:hover {
	border-bottom: 5px dotted #fff;
	transition: all 0.2s ease-out;
	cursor: pointer;
}
.active {
	border-bottom: 5px solid #fff;
}

.nav-links-mobile {
	display: none;
}
.menu-icon {
	display: none;
}
.logo {
	cursor: pointer;
	width: 170px;
	height: 180px;
	position: relative;
	top:8px;
	margin-left: 20px;
}
@media screen and (max-width: 960px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #242222;
		left: 0;
		z-index: 1;
		height: auto;
	}

	.nav-links {
		width: 100%;
		justify-content: center;
	}

	.nav-links:hover {
		background-color: #fff;
		color: #242424;
	}

	.menu-icon {
		display: block;
		font-size: 1.8rem;
		cursor: pointer;
		color: #fff;
		padding-right: 2rem;
	}
}
@media only screen and (max-width: 767px){
	.logo {
		width: 150px;
		height:160px;
		left:-15px;
	}
}

